:root{
    --max-width: 800px;
}

.menu-page{
    background-color: var(--beige-color);
}

.menu-page-top {
    background-image: url("../img/bagel-backgound.jpg");
    background-size: cover;
    background-position: center;
    height: var(--page-top);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-page-bottom {
    padding-bottom: 50px;

}

.menu-background {
    width: 100vw;

}

.menu-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    max-width: var(--max-width);
}

.food-choices-container{
    background-color: var(--grey-color); 

    border: 2px dotted black;
    border-radius: 60px;
    padding: 20px 0;
    margin: 40px auto;
    max-width: var(--max-width); 
    
}


.food-choices-title{
    font-size: 48px;
    padding: 30px;
    color: var(--dark-green-color);
}

.menu-page-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu-fade-enter {
    opacity: 0;
}
.menu-fade-enter-active {
    opacity: 1;
    transition: opacity .5s linear;
}
.menu-fade-exit {
    opacity: 0;
}
.menu-fade-exit-active {
    opacity: 0;
    display: none;
    transition: opacity .5s linear;
}

@media (max-width: 768px){
    .menu-page-list{
        display: block;
    }
    .food-choices-container, .menu-categories{
        margin-right: 10px;
        margin-left: 10px;
    }

}