.food-container{
    width: 50%;
}
.food-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    color: var(--dark-green-color);
}
.food-name{
    font-size: 24px;
    padding: 0 10px 0 0;
}


.food-price{
    font-size: 16px;

}
.food-description{
    padding: 4px 20px 30px;

    font-size: 14px;
    color: var(--ivy-color);
}

@media (max-width: 768px){
    .food-container{
        width: 90vw;
    }
}