.home-button{
    font-size: 1rem;
    padding: 6px 14px;
    margin: 2px;
    cursor: pointer;
    background-color: var(--beige-color);
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 4px .1px rgb(86, 83, 83);
    transition: all .3s ease;
    width: 70%;
    text-align: center;
    text-decoration: none;
}

.home-button:hover{
    background-color: var(--dark-beige-color)
}

  
