header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background-color: var(--mint-color);
    transition: all 1 ease;
}

.navbar-list{
    color: white;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px
}

.navbar-link{
    color: var(--ivy-color);
    text-decoration: none;
    transition: all .3s ease 0s;
}

.navbar-link:hover{
    color: var(--dark-green-color);
}

.logo {
    cursor: pointer;
    height: 100px;
}

.order-online-button{
    padding: 9px 25px;
    border: none;
    box-shadow: none;
    background-color: var(--ivy-color);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.order-online-button:hover{
    background-color: var(--dark-green-color);
}

.navbar-toggler {
    display: none;
    cursor: pointer;
    font-size: 4rem; 
    color: var(--ivy-color);
    transition: all .3s ease 0s;
}

.navbar-empty{
    display: none
}

.navbar-toggler:hover{
    color: var(--dark-green-color)
}

@media (max-width: 768px) {
    header{
        padding: 10px 0px;
    }
    header ul{
        max-height: 500px;
        animation: dropdown .3s linear
    }
    header li {
        opacity: 1;
        transform: translateY(0);
        animation: showChild .5s linear;
    }

    .navbar-empty{
        display: inline;
        font-size: 4rem;
        color: var(--mint-color);
        cursor: default;
    }

    .navbar-container{
        display: flex;
        background-color: var(--mint-color);
        align-items: baseline;
        justify-content: space-between;
    }

    nav ul {
      display: none;
      flex-direction: column;
      gap: 0;
      width: 100%;

    }
 
    .navbar-toggler {
      display: block;
    
    }  
  
    nav ul.active {
      display: block;
      max-height: 500px;
    }
  
    nav ul li {
      width: 100%;
      text-align: center;
    }
  
    nav ul li .navbar-link {
      display: block;
      padding: 1rem;
      width: 100%;
    } 
    
    .toggled{
        flex-direction: column;
    } 
  }

  @keyframes showChild {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes dropdown {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 500px;
    }
  }