@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --grey-color: #dfe0dfdc;
  --mint-color: #d1d8bd;
  --ivy-color: #777e5c;
  --khaki-color: #c7c2ab;
  --pebble-color: #bdbdbd;
  --dark-green-color: #283106;
}

h1{
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.app-container{
  background-color: var(--pebble-color);
  height: 100vh;
}

.fade{
  position: relative;
}

.page {
  position: absolute; /* Ensure pages do not stack */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.fade-exit {
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  display: none;
  transition: opacity .1s ease-in-out;
}